/* Stylesheet für Backendeinstellungen */
#headerlink-einstellungen {
  color: var(--main-bg-action);
  border-color: var(--main-bg-action);
}

#einstellungen {width: 100%;}
#einstellungen-content {
  width: 60%;
  margin: auto;
}
#einstellungen-content .aInput{
  width: calc(100% - 30px);
}
