#headerlink-logout img {
  margin-left: 5px;
  width: 13px;
}

.BackendBox {
  margin-bottom: 50px;
}
.KontaktverfolgungBox {
  margin-bottom: 30px;
}
.KontaktverfolgungBox .aInput {
  margin-top: 15px;
}
