@media only screen and (max-width: 437px) {
  #backend-schnellzugriff p a {
    margin-bottom: 10px;
    display: block;
  }
  
  #tischubersicht td, #tischubersicht th {
    margin: auto;
    padding: 10px;
    text-align: center;
  }
}
